<template>
  <div class="acceptance">
    <div class="acceptance__area">
      <template v-if="state.matches('selectPositions')">
        <position-selector
          :positions="positions"
          @select="handleSelectPosition"
        >
          <span
            v-if="state.matches('selectPositions.noSelectedPositionsStatus')"
            slot="errors"
          >One of positions has no selected status</span>
        </position-selector>
        <button @click="handleSelectPositionsContinue">Continue</button>
      </template>

      <template v-if="state.matches('selectProviders')">
        <shipping-selector
          :providers="providers"
          :selected="selectedProvider"
          @change="handleProviderChange"
        ></shipping-selector>
        <button @click="handleSelectProvidersContinue">Accept Order</button>
      </template>

      <template v-if="state.matches('orderAccepted')">
        <span style="color: green;">Order Accepted</span>
      </template>

      <template v-if="state.matches('updatingOrder')">
        <div v-if="state.matches('updatingOrder.inProgress')">Updating order...</div>
        <div v-if="state.matches('updatingOrder.failed')" style="color: red">
          Order updating has been failed!
          <button @click="retryUpdatingOrder">Retry</button>
        </div>
      </template>

      <template v-if="state.matches('bookingShipping')">
        <div v-if="state.matches('bookingShipping.inProgress')">Booking shipping...</div>
        <div v-if="state.matches('bookingShipping.failed')" style="color: red">
          Booking shipping has been failed!
          <button @click="retryBookingShipping">Retry</button>
        </div>
      </template>
    </div>
    <div class="acceptance__state">
      {{ state.value }}
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import { interpret } from 'xstate';
import AcceptanceProcess from '@/process/acceptance';
import PositionSelector from '@/components/PositionSelector.vue';
import ShippingSelector from '@/components/ShippingSelector.vue';

export default {
  components: {
    PositionSelector,
    ShippingSelector,
  },

  data() {
    return {
      fsm: null,
      state: null,
    };
  },

  computed: {
    ...mapState('acceptance', {
      positions: 'positions',
      providers: 'providers',
      selectedProvider: 'selectedProvider',
    }),
  },

  methods: {
    handleSelectPosition(id, value) {
      this.fsm.send('SELECT_POSITION', { id, value });
    },

    handleProviderChange(id) {
      this.fsm.send('SELECT_PROVIDER', { id });
    },

    handleSelectPositionsContinue() {
      this.fsm.send('CONTINUE');
    },

    handleSelectProvidersContinue() {
      this.fsm.send('CONTINUE');
    },

    retryUpdatingOrder() {
      this.fsm.send('RETRY');
    },

    retryBookingShipping() {
      this.fsm.send('RETRY');
    },
  },

  created() {
    this.fsm = interpret(AcceptanceProcess)
      .onTransition((state) => {
        this.state = state;
      })
      .onDone(() => {
        console.log('DONE!');
      })
      .start();
  },
};
</script>

<style lang="scss">
.acceptance {
  &__state {
    line-height: 16px;
    font-size: 14px;
    width: 300px;
    height: 48px;
    padding: 5px;
    border: 1px solid gray;
    margin: 20px auto;
  }

  &__area {
    border: 1px solid black;
    min-height: 200px;
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
}
</style>
