<template>
  <div>
    <div style="color: red">
      <slot name="errors"></slot>
    </div>
    <ul>
      <li v-for="position in positions" :key="position.id">
        {{ position.name }}
        <select :value="position.newStatus" @change="handleSelect($event, position.id)">
          <option value=""></option>
          <option value="accepted">Accepted</option>
          <option value="declined">Declined</option>
        </select>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    positions: {
      type: Array,
      default: () => [],
    },
  },

  methods: {
    handleSelect(event, id) {
      this.$emit('select', id, event.target.value);
    },
  },
};
</script>
