<template>
  <div>
    <select :value="selected" @change="handleChange">
      <template v-for="provider in providers">
        <option :value="provider.id" :key="provider.id">
          {{ provider.name }}
        </option>
      </template>
    </select>
  </div>
</template>

<script>
export default {
  props: {
    providers: {
      type: Array,
      default: () => [],
    },

    selected: {
      type: [String, Number],
      default: () => [],
    },
  },

  methods: {
    handleChange(event) {
      this.$emit('change', event.target.value);
    },
  },
};
</script>
